#flexbox .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#flexbox .button .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
#flexbox nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flexbox nav .actions {
    display: flex;
    align-items: center;
    gap: 32px;
}

#flexbox nav .actions .actions_list {
    display: flex;
    gap: 34px;
}

#flexbox nav .actions .actions_list__item {
    display: flex;
    align-items: center;
}



#flexbox footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#flexbox footer .links {
    display: flex;
    align-items: center;
    gap: 30px;
}
#flexbox footer .socials {
    display: flex;
    align-items: center;
    gap: 27px;
}

#flexbox section.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#flexbox section.content .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
#flexbox section.content .cards .card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 11px);
}
#flexbox section.content .cards .card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#flexbox section.content .cards .card .content {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
#flexbox section.content .cards .card .content .source {
    flex-grow: 3;
    display: flex;
    align-items: flex-end;
}

@media all and (max-width: 1280px) {
    #flexbox section.header {
        gap: 16px;
    }
    #flexbox footer {
        gap: 35px;
    }
    #flexbox footer .links {
        gap: 20px;
    }
    #flexbox footer .socials {
        gap: 27px;
    }
    #flexbox section.content .cards .card {
        display: flex;
        flex-direction: column;
        flex-basis: calc(100% / 2 - 16px);
    }
}

@media all and (max-width: 768px) {
    #flexbox .xs {
        display: flex !important;
    }
    #flexbox footer {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    #flexbox footer .copyright {
        order: 2;
        margin: 0 auto;
    }
    #flexbox footer .links {
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 45%;
    }
    #flexbox footer .socials {
        justify-content: flex-end;
        gap: 27px;
        flex-basis: 45%;
    }
    #flexbox section.content .cards .card {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
}
