#grid .button {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 12px 14px;
}

#grid .button .button__content {
    padding: 0 5px;
}
#grid .button .button__icon {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

#grid nav {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 140px 1fr auto;
    align-items: center;
}

#grid nav .actions {
    grid-column: 3 / -1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 32px;
}

#grid nav .actions .actions_list {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    gap: 34px;
}

#grid nav .actions .actions_list__item {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
    align-items: center;
}



#grid footer {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  290px 1fr auto auto;
    align-items: center;
    gap: 50px;
}
#grid footer .links {
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  auto auto;
    align-items: center;
    gap: 30px;
}
#grid footer .socials {
    grid-column: 4 / -1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  auto auto;
    align-items: center;
    gap: 27px;
}

#grid section.header {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns:  1fr;
    gap: 30px;
}

#grid section.content .cards {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:  repeat(3, 1fr);
    gap: 16px;
}
#grid section.content .cards .card {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}
#grid section.content .cards .card .actions {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
#grid section.content .cards .card .content {
    display: grid;
    grid-template-rows: auto auto 1fr auto ;
    grid-template-columns: 1fr;
}

@media all and (max-width: 1280px) {
    #grid section.header {
        gap: 16px;
    }
    #grid footer {
        gap: 35px;
    }
    #grid footer .links {
        gap: 20px;
    }
    #grid footer .socials {
        gap: 27px;
    }
    #grid section.content .cards {
        grid-template-columns:  repeat(2, 1fr);
    }
}

@media all and (max-width: 768px) {
    #grid footer {
        grid-template-rows: 1fr auto ;
        grid-template-columns:  1fr 1fr;
        align-items: start;
    }
    #grid footer .copyright {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin: 0 auto;
    }
    #grid footer .links {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-items: start;
        display: grid;
        justify-content: start;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:  1fr;
    }
    #grid footer .links .link {
        text-align: left;
    }
    #grid footer .socials {
        grid-row: 1 / 2;
        grid-column: 2 / -1;
        justify-content: end;
        gap: 27px;
    }
    #grid section.content .cards {
        grid-template-columns:  repeat(1, 1fr);
    }
}
